<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/sindresorhus/github-markdown-css/gh-pages/github-markdown.css">
    <style>
      .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
      }

      @media (max-width: 767px) {
        .markdown-body {
          padding: 15px;
        }
      }
    </style>
  </head>

  <body>

    <article class="markdown-body">
      <h1>Readme Kvereli Project</h1>
      <h2>Manifesto</h2>
      <p>We beleive the transportation market deserves better solutions. One of them concerns the commute of children to their daily activities. Trips that parents handle badly and very little added value. Let us reinvent this.</p>
      <p>See the full project description <a target='_blank' href="http://lmgtfy.com/?q=how+to+kill+my+children">here</a></p>
      <hr>
      <h2>API documentation</h2>
    </article>
  </body>
</html>
